body{
    background-color:
    #444C38
    }
    /* line breaks - horizontal */
    .line-break2 {border-bottom:1px solid white ; width: 90%; margin:0 auto; }
    .line-break3 {border-bottom:1px solid white; width: 90%; margin:0 auto; position: relative; bottom: 5px;}
    .line-break4 {border-bottom:1px solid white; width: 21%; margin:0 auto; position: absolute; bottom: 39.5%; right: 73.5%; }
     /* line breaks - vertical */
    .vl {
      border-left: 2px solid white;
      height: 90%;
      position: absolute;
      left: 50%;
      margin-left: 44.56%;
      top: 14.7%;
      
    }
    .vl2 {
      border-right: 2px solid white;
      height: 90%;
      position: absolute;
      right: 50%;
      margin-right: 44.56%;
      top: 14.7%;
    }
    .vl3 {
      border-right: 2px solid white;
      height: 40%;
      position: absolute;
      right: 28.9%;
      margin-right: 44.56%;
      bottom: 39.5%;
     
    }
    /* text design */
    .date{
    color:white;
    font-size:x-large;
    position: relative;
    bottom: 10px;
    }
    
    .mt-2{
        margin-top: 0.5rem
      }
      
      .text-center{
        text-align: center
      }
      
      .text-3xl{
        font-size: 1.875rem;
        line-height: 2.25rem
      }
      
      .text-4xl{
        font-size: 2.25rem;
        line-height: 2.5rem
      }
      
      .uppercase{
        text-transform: uppercase
      }
      
      .tracking-widest{
        letter-spacing: 0.1em
      }
      
      .text-\[\#758467\]{
        --tw-text-opacity: 1;
        color: rgb(117 132 103 / var(--tw-text-opacity))
      }
      
      .text-\[\#CBD5C0\]{
        --tw-text-opacity: 1;
        color: rgb(203 213 192 / var(--tw-text-opacity))
      }
      .content{
        position: absolute;
        padding: 4%;
        left: 23%;
        text-align: justify;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      /*images*/
      .img{
        position: absolute;
        right: 73.5%;
        bottom: 40%;
      }